// 1. Import the initial variables
@import "sass/utilities/initial-variables";
@import "sass/utilities/functions";

$labananecolor-1: #FFCD00;
$labananecolor-2: #0DF4FF;


$navbar-height: 5rem;


$primary: $labananecolor-1;
$primary-invert: findColorInvert($primary);


$family-primary: "Josefin sans";
$family-secondary:"Work sans";

$navbar-item-hover-color: $labananecolor-1;
$navbar-item-hover-background-color: white;
$navbar-item-color: black;

$button-color: black;
$button-background-color: white;
$button-border-color: none;

$title-color: black;
$subtitle-color: black;

$link: $labananecolor-2;

$body-background-color:rgb(255, 255, 255);

$footer-background-color:$labananecolor-1;

// 6. Import the rest of Bulma
@import "bulma";

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#hero-title h1, #hero-title h2{
    color: white;
    // text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#languages a{
    opacity: 0.5;
}

.navbar-item img{
    max-height: 100%;
}

.sectionImage{
    max-height: 20rem;
    overflow: hidden;
}

p{
    font-family: "Work sans";
    color:black;
}

.carousel img{
    margin:auto;
    max-height: 50vh;
}

.sponsors img{
max-width:10rem;
}


.colored-section h2, .colored-section p, .colored-section h3{
    color:white;
}

.navbar-burger span{
    background-color: black;
}

@media only screen and (max-width: 1023px){
    #section-hero{
        display:none;
    }
    // div.parallax-mirror>div.parallax-slider{
    //     visibility: hidden;

    //     }
}

#cta{
    color: white;
    background-color: $labananecolor-2;
}
.colored-section #cta{
    color: black;
    background-color: white;
}

#section-hero #cta{
    color: white;
    background-color: $labananecolor-1;
}
.bbg{
    background-image: url("../assets/images/bbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: hue;

}

footer.footer{
    color:white;
}
